/* Global */

body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #353535;
  background-color: #ffffff;
}
img {
  max-width: 100%;
}
a:link {
  color: #f68f67;
  text-decoration: none;
}
a:hover {
  color: #bde2df;
  text-decoration: none;
}
a:visited {
  color: #f68f67;
  text-decoration: none;
}

/* Navigation */

.menu {
  position: fixed;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  z-index: 100;
}
#logo {
  text-align: center;
  margin: 10px 0;
}
nav[role=navigation] {
  text-align: right;
  margin: 30px 0 0 0;
}
.navigation {
  float: right;
  list-style: none;
  margin: 0;
}
.navigation li {
  float: left;
  padding:0 0 0 50px;
}
.navigation li:hover {
  cursor: pointer;
  color: #a9d3d0;
}

.navigation .active {
  cursor: pointer;
  color: #f68f67;
  font-weight:bold;
}

/* Buttons */

.btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}
.btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}
.btn:active {
  position:relative;
  top:1px;
}

/* Signup form */

#wstForm_Contact {
  background-color: transparent;
}

.specialEmailField {
  display: none;
  visibility: hidden;
  height: 0px;
}
.emailDisplay {
  display: none;
  visibility: hidden;
  height: 0px;
}

/* General Slides */

.slide {
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: relative;
  padding: 140px 0;
}

/* Slide 1 */

#slide1 {
  background-color: #252525;
  color: #ffffff;
  background: url('../images/stadium.jpg') no-repeat left center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
#slide1 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color: #ffffff;
  font-weight: 700;
}
#slide1 h2 {
  font-size: 2em;
  line-height: 0px;
  color: #ffffff;
  padding-bottom: 20px;
  font-weight: 400;
}

/* Slide 2 */

#slide2 {
  background-color: #ffffff;
  color: #353535;
}
#slide2 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color: #353535;
  font-weight: 700;
}
#slide2 h2 {
  font-size: 2em;
  color: #353535;
  line-height: 0px;
  padding-bottom: 20px;
  font-weight: 400;
}

/* Slide 3 */

#slide3 {
  background-color: #252525;
  color: #ffffff;
  background: url('../images/ballpark.jpg') no-repeat left center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
#slide3 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color: #ffffff;
  font-weight: 700;
}
#slide3 h2 {
  font-size: 2em;
  color: #ffffff;
  line-height: 0px;
  padding-bottom: 20px;
  font-weight: 400;
}

/* Slide 4 */

#slide4 {
  background-color: #8a8683;
  color: #ffffff;
}
#slide4 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#ffffff;
  font-weight: 700;
}
#slide4 h2 {
  font-size: 2em;
  color: #ffffff;
  line-height: 0px;
  padding-bottom: 20px;
  font-weight: 400;
}

.decorative img {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
}

/* Tablet */

@media screen and (max-width: 1024px) {
  #logo {
    width: 100%;
    text-align: center;
  }

  nav[role=navigation] {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .navigation {
    width: 100%;
    float: center;
    list-style: none;
    margin: 0;
    padding:0;
  }

  .navigation li {
    float: left;
    width:25%;
    padding:0;
  }

  .slide {
    background-attachment: fixed;
    width:100%;
    position: relative;
    padding:150px 0;
  }

  .decorative {
    display: none;
  }

  .content {
    text-align:center;
    width:100%;
  }

  #slide1 h1 {
    line-height: 1em;
  }
  #slide1 h2 {
    line-height: 1em;
  }
  #slide2 h1 {
    line-height: 1em;
  }
  #slide2 h2 {
    line-height: 1em;
  }
  #slide3 h1 {
    line-height: 1em;
  }
  #slide3 h2 {
    line-height: 1em;
  }
  #slide4 h1 {
    line-height: 1em;
  }
  #slide4 h2 {
    line-height: 1em;
  }
}

/* Mobile */

@media screen and (max-width: 480px) {
  #logo {
    width: 100%;
    text-align: center;
  }

  nav[role=navigation] {
    width:100%;
    margin:5px 0;
  }

  .navigation {
    width: 100%;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
  }

  .navigation li {
    float: left;
    width:25%;
  }

  .slide {
    background-attachment: fixed;
    width:100%;
    position: relative;
    padding:150px 0;
  }

  #slide1 h1 {
    line-height: 1em;
  }
  #slide1 h2 {
    line-height: 1em;
  }
  #slide2 h1 {
    line-height: 1em;
  }
  #slide2 h2 {
    line-height: 1em;
  }
  #slide3 h1 {
    line-height: 1em;
  }
  #slide3 h2 {
    line-height: 1em;
  }
  #slide4 h1 {
    line-height: 1em;
  }
  #slide4 h2 {
    line-height: 1em;
  }
}
